<%
my $events = '';
foreach my $event (@selected_events) {
  $link = HTML::Entities::encode_entities($event->{URL});
  $title = HTML::Entities::encode_entities($event->{SUMMARY});
  $description = HTML::Entities::encode_entities($event->{DESCRIPTION});
  $location = HTML::Entities::encode_entities($event->{LOCATION});

  $dtstart = $event->{DTSTART};
  $dtend = $event->{DTEND};

  $events .= qq[$spaces<span class="vevent">];
  $events .= qq[<h4 class="summary">];

  if ($link) {
    $events .= qq[<a class="url" href="$link">];
  }
  $events .= qq[$title];
  if ($link) {
    $events .= qq[</a>];
  }

  # See DateTime documentation for available methods
  $ymd = $dtstart->ymd;
  $date = $dtstart->strftime('%B %e');
  $events .= qq[ on <abbr class="dtstart" title="$ymd">$date</abbr>];

  $events .= qq[</h4>];

  if ($description) {
    $events .= qq[<p class="description">$description];
    if ($link) {
      $events .= qq[ <a class="url" href="$link">more&hellip;</a>];
    }
    $events .= qq[</p>];
  }

  if ($location) {
    $events .= qq[<p class="location">$location</p>];
  }

  $events .= qq[</span><!-- .vevent -->\n];
}
chomp $events;
return $events;
%>
